<div class="post">
  <div class="header">
    <%= post.id %>. <%= post.user_name %>
  </div>
  <div class="body">
    <%= post.content %>
  </div>
  <div class="footer">
    <%= post.created_at.strftime("%Y年 %m月 %d日 %H時 %M分 %S秒") %>
  </div>
</div>

