html, body {
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Rounded Mplus 1c";
}

body {
  background-color: #424242;
  color: rgba(255, 255, 255, 0.8);
}

main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0em 1em;
}
