nav {
  height: 3rem;
  background-color: #323232;
  padding: 0em 1em;

  .container {
    max-width: 40rem;
    margin: 0 auto;
  }

  .title {
    font-size: 2em;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
}
